body {
    background-image: url(../img/logo-tegels-achtergrond.svg);
}
.titelStelling{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.vraagStelling{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
th{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
}
.checkboxes{
    text-align: center;
    vertical-align: middle;
}
.empty1{
    height: 30px;
}
.empty2{
    height: 20px;
}
#stelling, #stellingED, #nieuws_desc, #nieuws_text{
    height: 100px;
    width: 172.5px;
    max-height: 100px;
    max-width: 172.5px;
    min-height: 100px;
    min-width: 172.5px;
}
#nieuws_titel, #nieuws_datum{
    height: 50px;
    width: 172.5px;
    max-height: 50px;
    max-width: 172.5px;
    min-height: 50px;
    max-width: 172.5px;
}
#titelED{
    width: 225px;
}
.blockPE{
    width: 300px;
    height: 300px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px #2B2D42 solid;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
    opacity: 95%;
    grid-column: 2;
    grid-row: 4;
}
.blockPC{
    width: 300px;
    height: 120px;
    padding-left: 25px;
    padding-top: 10px;
    border: 2px #2B2D42 solid;
    background-color: white;
    opacity: 95%;
    grid-column: 2;
    grid-row: 2;
}
.blockSC{
    width: 300px;
    height: 200px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px #2B2D42 solid;
    background-color: white;
    opacity: 95%;
    grid-column: 4;
    grid-row: 2;
}
.blockSED{
    width: 300px;
    height: 300px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px #2B2D42 solid;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
    opacity: 95%;
    grid-column: 4;
    grid-row: 4;
}
.blockNC{
    width: 300px;
    height: 400px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px #2B2D42 solid;
    background-color: white;
    opacity: 95%;
    grid-column: 6;
    grid-row: 2;
}
.blockNED{
    width: 300px;
    height: 400px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px #2B2D42 solid;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
    opacity: 95%;
    grid-column: 6;
    grid-row: 4;
}
.container{
    margin-left: 30%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 300px 15px 300px 15px 300px 1fr;
    grid-template-rows: 15px 400px 15px 400px;
}
/* Dark Mode */ 
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    background-image: none;
    box-shadow: inset 0 5000px #2b2d42ad;
}

body.dark-mode .ulBlock {
   background-color: #0f0e0ee1;
    opacity: 95%;
} 