html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-image: url(../img/logo-tegels-achtergrond.svg);
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.block {
    flex: 0 0 auto; 
    padding: 20px;
    background-color: #EDF2F4;
    margin-top: auto;
    height: auto;
}

.infoplace {
    margin-bottom: 10px;
}

.info-flex {
    display: grid;
    gap: 10px; 
    padding: 10px; 
    background-color: #EDF2F4; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    align-items: center; 
    width: 100%;
}

.article-link {
    display: contents; 
    text-decoration: none;
    color: inherit;
}

.article-image {
    width: 150px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 5px;
    flex-shrink: 0; 
}

.article-text {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    overflow: hidden; 
}

#intro {
    font-family: "Inter", sans-serif;
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 5px;
}

.info-flex:hover {
    background-color: #D3E0E3;
}

@media (max-width: 768px) {
    .info-flex {
        grid-template-columns: 1fr;
    }

    .article-image {
        width: 100%; 
        height: auto;
    }

    .article-text {
        margin-top: 10px;
    }
}
/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .block {
    background-color: #2b2d42;
}
body.dark-mode .info-flex {
    background-color: #2b2d42;
}
body.dark-mode .info-flex:hover {
    background-color: #1d1e2c;

}
/* Ensure background image visibility in dark mode */
body.dark-mode html, body {
    background-image: url(../img/logo-tegels-achtergrond-dark.svg);
}
