

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: #EDF2F4;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/logo-tegels-achtergrond.svg);
}



/* navbar  */
#kieslab {
    background-color: #2B2D42;
    height: 80px;
    border: 1px solid #2B2D42;
}

#kieslablogo {
    height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

.header-flex {
    display: flex;
    background-color: #2b2d42;
    width: 100%;
    justify-content: start;
    align-items: center;
}

#stemwijzer {
    justify-content: left;
    color: #EDF2F4;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

#navbar-place {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    gap: 1em;
}

.navbar a {
    display: block;
    color: #EDF2F4;
    text-decoration: none;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #8D99AE;
    color: black;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #8D99AE;
    color: #EDF2F4;
    border-radius: 5px;
}

/* main */

#title{
    color: black;
}
main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    background-color: #edf2f4d9;
}

.logo-Rand:hover{
    transform: scale(1.3);
    transition: 0.01s;
    
    z-index: 2;
    box-shadow: 0 0 5px rgba(0,0,0,.25)
}


.logo{
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.logo-Rand{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #2C2D42;
    padding: 15px;
    
}

.partijen-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: 15px;
    margin:30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #0f0e0ee1;
    padding: 20px;
}

@media (max-width: 1200px){
    .partijen-container{
        grid-template-columns: repeat(6, 1fr);

    }
}

@media (max-width: 1050px){
    .partijen-container{
        grid-template-columns: repeat(4, 1fr);
        
    }
}

@media (max-width: 760px){
    .partijen-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (max-width: 360px){
    .partijen-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
}
