* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
#kieslab {
  background-color: #2B2D42;
  height: 80px;
  border: 1px solid #2B2D42;
}
#kieslablogo {
  height: 40px;
  margin-left: 30px;
  margin-top: 15px;
}
.header-flex {
  display: flex;
  background-color: #2b2d42;
  width: 100%;
  justify-content:start;
  align-items: center;
}
#stemwijzer {
  justify-content: left;
  color: #EDF2F4;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}
#navbar-place {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: right;
  margin-right: 40px;
  gap: 1em;
  }
.navbar a {
    display: block;
    color: #EDF2F4;
    text-decoration: none;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
.navbar a:hover {
    background-color: #8D99AE;
    color: black;
    border-radius: 5px;
  }
.navbar a.active {
    background-color: #8D99AE;
    color: #EDF2F4;
    border-radius: 5px;
  }
.mobile-nav {
  display: none;
}
#mobile-nav {
  display: none;
}
#break {
  display: none;
}
  @media(max-width: 930px) {
    #home {
      display: none;
    }
    .navbar {
      margin-right: 10px;
      
    }
    #nieuws, #login, #partijen, #stellingen {
      font-size: 20px;
    }
}
@media(max-width: 760px) {
  .navbar {
    display: none;
  }
  #burger-icon {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1000;
  }
  .bar {
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
  }
  .mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #2B2D42;

    z-index: 999;
  }
  .mobile-nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 10px;
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  #break {
    display: block;
  }
}

/* 
Inter Bold:
Head: 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
ccs: 
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings: "slnt" 0;

Quicksand Regular:
Head:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
ccs: 
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
*/

